<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Conference</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      {% load has_group %}
      <ul class="sidebar-nav">
          {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'schedule' %}">Schedule</a></li>
            {% if request.user|has_group:"presenter" %}
                <li><a href="{% url 'presentation' %}">Presentation</a></li>
                <div class="presenter-panel align-items-center">
                    <a href="/catalog/presentation/create" class="btn btn-outline-info">Add presentation</a>
                    <a href="/catalog/schedule/create" class="btn btn-outline-info">Add performance</a>
                    <div>Current user name is {{request.user.username}}, and he is presenter</div>
                    {% block presenter-panel %}{% endblock %}
                </div>
                {% endif %}
            <li><a href="{% url 'room' %}">Room</a></li>
            <li><a href="{% url 'logout' %}">Exit</a></li>
        </ul>
          {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'register' %}">Sign up</a></li>
          {% endif %}
     {% endblock %}
      </div>
            {% if request.user|has_group:"admin" %}
                <div class="admin-panel align-items-center">
                    <a href="/admin" class="btn btn-outline-info">Admin</a>
                    <div>Current user name is {{request.user.username}}, and he is admin</div>
                    {% block admin-panel %}{% endblock %}
                </div>
            {% endif %}
            {% if request.user|has_group:"listener" %}
                <div class="listener-panel align-items-center">
                    <div>Current user name is {{request.user.username}}, and he is listener</div>
                    {% block listener-panel %}{% endblock %}
                </div>
        {% endif %}
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}

      {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>
